@page
@model Mission09_jfalagra.Pages.PurchaseCompletedModel
@{
}

<div class="text-center">
    <h2>Thanks! Da books will be sent!</h2>
    <a class="btn btn-primary" asp-controller="Home">Return Home</a>
</div>